{% extends 'base.html' %}
{% load bootstrap %}
{%block title%}Home{% endblock title%}


{%block content%}
<style>
    #formulario{
        padding: 15px;
    }
    #btn_salvar{
        margin-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center alert alert-info">Atualizar Informações</h4> 
            <form method="post" class="post-form" id="formulario">{% csrf_token %}
                <div class="form-group">
                    {{form|bootstrap}}
                   
                </div>
                <div id="btn_salvar">
                    <button type="submit" class="save btn btn-primary">Salvar</button>
                    <a href="{% url 'index'%}" class="btn btn-light">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>  
{%endblock content%}