{% extends 'base.html' %}
{% load bootstrap %}
{%block title%}Home{% endblock title%}

{%block content%}
<style>
  #btn_salvar{
    margin-top: 10px;
    padding-right: 235px;
    padding-left: 235px;
  }
  #formulario{
    padding: 15px;
  }
  #container{
    padding-top:10px;
  }
</style>
<h2 class="text-center alert alert-info" id="titulo">Dashboard - ADMIN BASE</h2>
<div class="container" id="container"> 
  <div class="row">
    <div class="col-6">
      <h4 class="text-center alert alert-info" id="titulo">CADASTRO</h4>
      <form method="post" class="post-form" id="formulario">{% csrf_token %}
        {{ form|bootstrap }}<hr>

        <button type="submit" class="save btn btn-primary" id="btn_salvar">Salvar</button>
    </form><br>
    </div>
    <div class="col-6">
      <h4 class="text-center alert alert-info" id="titulo">INFORMAÇÕES</h4>
      <table class="table" id="tabela">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Time</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
              {% for user in users %}
              
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.nome_completo}}</td>
                {% if user.equipe != None%}
                  <td>{{user.equipe}}</td>
                {% else %}
                  <td></td>
                {% endif %} 
      
                <td>
                    <a href="{% url 'atualizar' user.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <form action="{% url 'delete' user.id %}" method="post" class="d-inline">{% csrf_token %}
                      <input type="submit" class="btn btn-danger" value="Deletar">
                    </form>
                </td>
              </tr>
              {% endfor %} 
          </tbody>
        </table>
    </div>
  </div>
</div>

{%endblock content%}