{% extends 'base.html' %}

{%block title%}Home{% endblock title%}


{%block content%}

<form method="post" class="post-form">{% csrf_token %}
    <!--
    <p>
        <label for="id_nome_completo">Nome completo:</label>
        <input type="text" name="nome_completo" id="id_nome_completo" required="" maxlength="250">
    </p>
    <p>
        <label for="id_numero_telefone">Numero telefone:</label> 
        <input type="text" name="numero_telefone" id="id_numero_telefone" required="" maxlength="11">
    </p>
    <p>
        <label for="id_email">Email:</label> 
        <input type="email" name="email" id="id_email" required="" maxlength="250">
    </p>
    <p>
        <label for="id_password">Password:</label> 
        <input type="text" name="password" id="id_password" required="" maxlength="15">
    </p>
    <p>
        <label for="id_equipe">Equipe:</label> 
        <input type="text" name="equipe" id="id_equipe" required="">
    </p>
    -->
    {{form.as_p}}
    <button type="submit" class="save btn btn-primary">Salvar</button>
</form><br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Time</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.nome_completo}}</td>
          <td>{{user.equipe}}</td>
          <td>
              <form action="{% url 'delete' user.id %}" method="post" class="d-inline">{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Deletar">
              </form>
          </td>
        </tr>
           
        {% endfor %} 
    </tbody>
  </table>

{%endblock content%}