{% extends 'base.html' %}
{% load bootstrap %}
{%block title%}Home{% endblock title%}

{%block content%}
<style>
  #btn_salvar{
    margin-top: 10px;
    padding-right: 235px;
    padding-left: 235px;
  }
  #formulario{
    padding: 15px;
  }
  #container{
    padding-top:10px;
  }
  
</style>
<h2 class="text-center alert alert-info" id="titulo">Dashboard - ADMIN BASE</h2>
<div class="container" id="container"> 
  <div class="row">
    <div class="col-12">
      <h4 class="text-center alert alert-info" id="titulo">detalhes</h4>
      {{tabela_id.nome_do_time}}
      {{tabela_id.pontos}}<br>
     
    </div>
  </div>
</div>

{%endblock content%}